[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-elate-theme"]
	path = themes/hugo-elate-theme
	url = git@github.com:victoraldecoa/hugo-elate-theme.git
